<div class="panel panel-default">
    <div class="panel-heading">
        <!--主选项：我的订单-->
        <p class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">我的订单</a>
        </p>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <div><a style="cursor: pointer; color: #72ACE3" href="orders.html"><b>全部订单</b></a></div>
            <div><a style="cursor: pointer; color: #72ACE3" href="orders.html?status=0">待付款</a></div>
            <div><a style="cursor: pointer; color: #72ACE3" href="orders.html?status=1">待收货</a></div>
            <div><a style="cursor: pointer; color: #72ACE3" href="orders.html?status=2">其他</a></div>
<!--            <div><a style="cursor: pointer; color: #72ACE3" href="orders.html">退货退款</a></div>-->
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <!--主选项：资料修改-->
        <p class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">资料修改</a>
        </p>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <div><a style="cursor: pointer; color: #72ACE3" href="password.html"><b>修改密码</b></a></div>
            <div><a style="cursor: pointer; color: #72ACE3" href="userdata.html">个人资料</a></div>
            <div><a style="cursor: pointer; color: #72ACE3" href="upload.html">上传头像</a></div>
            <div><a style="cursor: pointer; color: #72ACE3" href="address.html">收货管理</a></div>
        </div>
    </div>
</div>