<div class="row top-nav">
    <div class="col-md-6">
        <ul class="nav nav-pills">
            <li>
                <a href="#"></a>
            </li>
            <li class="active"><a href="index.html"><span class="fa fa-home"></span></a></li>
            <li><a href="#" style="cursor: pointer; color: #72ACE3">秒杀</a></li>
            <li><a href="#" style="cursor: pointer; color: #72ACE3">优惠券</a></li>
            <li><a href="#" style="cursor: pointer; color: #72ACE3">电脑VIP</a></li>
            <li><a href="#" style="cursor: pointer; color: #72ACE3">外卖</a></li>
            <li><a href="#" style="cursor: pointer; color: #72ACE3">超市</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <form action="search.html" class="form-inline pull-right" role="form">
            <div class="form-group">
                <input type="text" class="form-control" id="search" name="keyWord" placeholder="请输入商品名称进行搜索：戴尔">
            </div>
            <button id="btn-submit" type="submit" class="btn btn-default btn-sm"><span class="fa fa-search"></span></button>
        </form>
    </div>
</div>
